@import '../../../shared/styles/utils/variables';
@import '../../../shared/styles/utils/mixins';

.top-bar {
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  width: 100%;
  border-bottom: 1px solid $elements;
  padding: 0;

  &__logo-link {
    text-decoration: none;
    padding-left: 16px;
    align-self: center;
  }

  &__logo-img {
    width: 64px;
    height: 21px;
  }

  &__burger-menu {
    background-color: $black;
    width: 16px;
    height: 16px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    border: none;
    cursor: pointer;
    color: inherit;

    &--open {
      background-image: url('/icons/Menu.png');
    }

    &--close {
      background-image: url('/icons/Close.png');
    }
  }

  &__button {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 48px;
    width: 48px;
    border-left: 1px solid $elements;
  }
}

@include on-mobile {
  .top-bar {
    &__favorite-cart-links {
      display: none;
    }

    &__responsive-wrapper {
      display: none;
    }
  }
}

@include on-tablet {
  .top-bar {
    &__button {
      display: none;
    }

    &__responsive-wrapper {
      width: 100%;
      margin-left: 32px;
      align-self: center;
    }
  }
}

@include on-desktop {
  .top-bar {
    &__responsive-wrapper {
      margin-left: 48px;
    }
  }
}
