$white: #f1f2f9;
$secondary: #75767f;
$elements: #3b3e4a;
$hover-accent: #a378ff;
$accent: #905bff;
$black: #0f1121;
$surface1: #161827;
$green: #27ae60;
$red: #eb5757;
$surface2: #323542;
$icons: #4a4d58;
$section-margin-bottom-mobile: 56px;
$section-margin-bottom-tablet: 64px;
$section-margin-bottom-desktop: 80px;
$breakpoint-mobile: 639px;
$breakpoint-tablet: 640px;
$breakpoint-desktop: 1200px;

